<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	body {
		margin:100px;
		background-image: linear-gradient(to right,rgb(128, 255, 255),pink);
	}
	a{
		color:darkred;
		font-size: larger;
	}
	
</style>

	
</head>
<body>
<center>
     <a href="/showalluserdetails">Show User List</a><br><br>
     <a href="/showallhoteldetails">Show Hotel List</a><br><br>
     <a href="/showallpaymentdetails">Show Payment List</a><br><br>
</center>   

</body>
</html>